# Server
PORT=4000

# Gmail SMTP (recommended: App Passwords)
# 1) Enable 2-Step Verification on your Google account
# 2) Create an App Password for "Mail" via Google Account settings
# 3) Put the username (your full Gmail address) and the app password here

EMAIL_USER=info@dashmeshfoil.com
EMAIL_PASS=uznxgkwytcauotxj
